@media (max-width: 767px){
    .home-card-list{
        .colored-card{
            margin-bottom: 30px;
        }
    }

    footer{
        .md-center{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .md-mb{
            margin-bottom: 15px;
        }
    }
}