
//BUTTONS
.btn{
  display: inline-block;
  padding: 8px 20px;
  border-radius: 50px;
  background-image: linear-gradient(45deg, transparent, #05dcff);
  background-color: #1334ab;
  color: white;
  font-weight: 600;
  transition: all 150ms ease-in-out;
  &:hover{
    color: white;
    text-decoration: none;
    background-color: #00899f;
    box-shadow: 1px 1px 5px 0 #00899f;
  }
  &.btn--light{
    background: white;
    color: $dark-text;
    &:hover{
      background: #eeeeee;
      box-shadow: 1px 1px 5px 0 #b4c3c5;
    }
  }
}

// CARDS
.colored-card{
  padding: 20px;
  background: linear-gradient(45deg, #1334ab, #05dcff);
  box-shadow: 3px 3px 3px #e1e1e1;
  border-radius: 30px;
  color: white;
  h3{
    font-size: 22px;
    line-height: 1;
  }
  p{
    font-size: 16px;
  }
  .colored-card_date{
    font-weight: 700;
    margin-bottom: 0;
  }
  @each $gradient, $value in $card-gradient {
    &--#{$gradient}{
      background: $value;
    }
  }
}

//COLORED ICONS
.icon-colored{
  background: -webkit-linear-gradient(45deg, #1334ab, #05dcff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  @each $gradient, $value in $card-gradient {
    &--#{$gradient}{
      background: $value;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}


//SLICK DOTS
.slick-initialized{
  .slick-slide{
    outline: none;
  }
}
.slick-dots{
  display: flex;
  justify-content: center;
  align-items: self-start;
  padding: 0;
  margin: 20px 0 0 0;
  list-style: none;
  li{
    position: relative;
    margin: 0 8px;
    &:after{
      position: absolute;
      content: '';
      top: 50%;
      right: 0;
      left: 0;
      height: 3px;
      pointer-events: none;
      background: gray;
      transition: all 400ms ease;
    }
    &.slick-active{
      &:after{
        background: gray;
      }
    }
    button{
      opacity: 0;
    }
  }
}